
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 70%; background-color: #E52B11;} /* Green */
.css {width: 65%; background-color: #E5A211;} /* Blue */
.cpp {width: 75%; background-color: #E51138;} /* Red */
.digital {width: 85%; background-color: #2E541B;} /* Dark Grey */
.mp {width: 80%; background-color: #BB11E5;} /* Red */
.hdl {width: 80%; background-color: #E51188;}

.reg{
	margin: auto;
	padding-left: 10px;
	border: solid 5px #89C8B0;
}